html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%
}


.header {
  /* so that child heading's margin won't push header down */
  flex-shrink: 0;
  overflow: auto;

  background-color: yellow;
}

.heading {
  text-align: center;
}

.tab-list {
  padding: 0;
  margin: 0; 
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
  list-style: none;
}

.main-content {
  flex: 1;
  background-color: peachpuff;
}


.footer {
  flex-shrink: 0;
  background-color: pink;
}

.copyright {
  text-align: center;
}